* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
}
.todo-list {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.items {
  padding: 10px;
  list-style: none;
}
.items li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 0.8rem;
  border-bottom: 1px solid #eee;
}
.delete {
  padding: 1px;
  cursor: pointer;
  color: red;
}
.checkbox {
  text-decoration: line-through;
}
