* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.coursel {
  width: 100vw;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action {
  position: absolute;
  bottom: 20px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
}
.prev {
  float: left;
  cursor: pointer;
}
.next {
  float: right;
  cursor: pointer;
}
.span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  z-index: 20;
}
.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid red;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  border: 3px solid green;
}
